.period-list span{
  margin: 0;
}

.period-list span:hover{
  cursor: pointer;
  color: #FFF;
}

.period-list ul{
  list-style: none;

  position: absolute;
  border-radius: 6px;
  box-shadow: 1px 1px 8px -2px #000;

  background-color: var(--darkBlue);
  z-index: 999;
}

.period-list ul li{
  padding: 8px 12px;
}

.period-list ul li:hover{
  background-color: var(--blue);
  cursor: pointer;
  transition: 400ms;
}
