@media(max-width: 1355px){
  html {
    font-size: 50%;
  }

  .container {
    align-items: start;
  }

  .user-section{
    width: 25%;
  }
  .user-tracking{
    width: 70%;
  }

  .user-tracking>div{
    width: 300px;
  }
}

@media(max-width: 995px){

  .user-tracking{
    width: 70%;
  }

  .user-tracking>div{
    width: 400px;
    margin-bottom: 5%;
  }

  .user-section{
    width: 35%;
    margin-left: 5%;
  }
}

@media(max-width: 720px){
  .container {
    flex-direction: column;

  }

  .user-section{
    width: 80%;
    margin: auto;
  }

  .user-section .user-info{
    display: flex;
    height: 160px;
  }

  .user-info img{
    margin-right: 5%;
  }

  .period-menu{
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  .user-tracking{
    width: 80%;

    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
  }

  .user-tracking>div{
    width: 100%;
    height: 200px;

    margin-bottom: 10%;

    background-position: 90% top;
  }

  .user-tracking .card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;

  }

  .attribution {
    margin-top: 50px;
  }
}

@media (max-width: 320px){
  html {
    font-size: 40%;
  }
}
